.currencyConverter {
  height: 284px;
  min-height: 284px;
  border-radius: 12px;
  background-color: #1A1A1F;
  color: #F8F8FF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

li:hover {
  color: white !important;
  background-color: #1A1A1F !important;
}

.MuiOption-highlighted {
  color: white !important;
  background-color: #1A1A1F !important;
}

.MuiSelect-listbox {
  padding-block: 0px !important;
  background-color: #1A1A1F !important;

}


.MuiSelect-listbox::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.MuiSelect-listbox {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}
