.montserratFont {
    font-family: 'Montserrat', sans-serif;
}

.montserratFontGradient {
    background: linear-gradient(to right, #6D18EF, #186EF2);
    -webkit-background-clip: text;
    color: transparent;
}